.boardMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board{
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
}

.turnTxt{
    font-size: 30px;
    margin: 20px 0;
}

.turnTxt span{
    font-weight: bold;
    color: #ff5e5e;
}